/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

button {
  border: none;
  background: none;
  color: inherit;
  font: inherit;
}

/* KEYFRAMES */
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(30px) translateY(-50%) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateX(0px) translateY(-50%) scale(1);
  }
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-30px) translateY(-50%) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateX(0px) translateY(-50%) scale(1);
  }
}

@keyframes fade-left-from-none {
  0% {
    display: none;
    opacity: 0;
    transform: translateX(30px) translateY(-50%) scale(0.9);
  }

  1% {
    display: block;
    opacity: 0;
    transform: translateX(30px) translateY(-50%) scale(0.9);
  }

  100% {
    display: block;
    opacity: 1;
    transform: translateX(0px) translateY(-50%) scale(1);
  }
}

@keyframes fade-right-from-none {
  0% {
    display: none;
    opacity: 0;
    transform: translateX(-30px) translateY(-50%) scale(0.9);
  }

  1% {
    display: block;
    opacity: 0;
    transform: translateX(-30px) translateY(-50%) scale(0.9);
  }

  100% {
    display: block;
    opacity: 1;
    transform: translateX(0px) translateY(-50%) scale(1);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* UTILITIES */
.u-bold {
  font-weight: 500;
}

.u-bolder {
  font-weight: 700;
}

.u-accent {
  color: var(--color-ux);
  transition: color 2s;
}

.u-accent--gd {
  color: var(--color-gd);
  transition: color 2s;
}

.u-accent--ret {
  color: var(--color-ret);
  transition: color 2s;
}

/* BASE STYLES */

html {
  --default-opacity: 0.1;
  --hover-opacity: 0;
  --color-ux: #00acb5;
  --color-ux-1: #00acb5b6;
  --color-ux-2: #222831;
  --color-gd: #10ac25;
  --color-gd-1: #00b518b6;
  --color-gd-2: #223126;
  --color-ret: #b5a900;
  --color-ret-1: #b5a900b6;
  --color-ret-2: #313122;
}

body {
  font-family: "Inter", sans-serif;
  color: #fff;
  overflow-x: hidden;
  scrollbar-width: none;
  min-height: 100vh;
  transition: all 2s;
  margin: 0;
}

.body-color_ux {
  background-color: #222831;
}

.body-color_gd {
  background-color: #223126;
}

.body-color_ret {
  background-color: #313122;
}

body::-webkit-scrollbar {
  display: none;
}

.color-container {
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.color {
  height: 1000px;
  width: 1000px;
  position: absolute;
  top: -570px;
  left: 15%;
  z-index: -1;
  transition: all 2s;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  animation: fade-down 5s 1s backwards;
}

.color_ux {
  height: inherit;
  width: inherit;
  position: inherit;
  background-image: radial-gradient(closest-side,
      #00acb5b6, transparent);
  opacity: 0;
  transition: all 2s;
}

.color_gd {
  height: inherit;
  width: inherit;
  position: inherit;
  background-image: radial-gradient(closest-side,
      #00b518b6,
      transparent);
  opacity: 0;
  overflow: hidden;
  transition: all 2s;
}

.color_ret {
  height: inherit;
  width: inherit;
  position: inherit;
  background-image: radial-gradient(closest-side,
      #b5a900b6,
      transparent);
  opacity: 0;
  transition: all 2s;
}

.color_visible {
  opacity: 1;
}

.color-big {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  background: linear-gradient(to top, #00acb5b6, transparent);
  z-index: -1;
  background-size: cover;
  overflow: hidden;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 42px 62px;
  position: fixed;
  width: 100%;
  margin-top: 10px;
}

.logo {
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
  animation: fade-down 0.5s 0.4s backwards;
}

/* BUTTON */
.btn {
  background-color: hsla(0, 0%, 100%, 0.1);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.5px;
  padding: 10px 20px;
  border-radius: 500px;
  transition: all 0.3s;
}

.btn:hover {
  transform: scale(1.15);
}

.btn--contact {
  animation: fade-down 1s 1s backwards;
}

.btn--download {
  padding: 16px 32px;
  font-size: 16px;
  position: fixed;
  bottom: 27px;
  left: calc(50% - 96px);
  z-index: 100;
  box-shadow: 0 6px 23px rgba(0, 0, 0, 0.45);
  animation: move-up 0.5s 0.4s backwards;
}

.btn--job {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #EEEEEE;
  letter-spacing: 0.5px;
  padding: 10px 20px;
  border-radius: 500px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn--job__uiux {
  background-color: #00acb57e;
}

.btn--job__gd {
  background-color: #4E9F3D7e;
}

.btn--job__ret {
  background-color: #F7C04A7e;
}

.btn--job::after {
  content: '';
  height: 2px;
  width: 0%;
  background-color: #EEEEEE;
  opacity: .9;
  display: block;
  transition: .5s ease-in-out;
}

.btn--job:hover::after {
  width: 100%;
}

.btn--job:hover {
  transform: scale(1.15);
}

/* MAIN */
.main {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 0 25px;
}

/* INTRO */
.intro {
  padding-top: 80px;
  animation: fade-up 2s;
}

.first-heading {
  font-size: 48px;
  font-weight: 600;
  opacity: 0.94;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji {
  font-size: 35px;
  margin-top: -8px;
  margin-left: 3px;
}

.text {
  font-size: 40px;
  opacity: 0.9;
  font-weight: 300;
  margin-top: 11px;
  line-height: 1.1;
}

.text--jobs {
  font-size: 36px;
  opacity: 0.9;
  font-weight: 300;
  margin-top: 11px;
  line-height: 1.1;
}

.text--second {
  display: block;
  font-size: 40px;
  opacity: 0.9;
  font-weight: 300;
  margin-top: 11px;
  line-height: 1.1;
}

.jobs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 11px;
}

.job {
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 10%;
  transition: all .2s;
}

/* .job:hover {
  text-decoration-thickness: 30%;
} */

.job--ux {
  text-decoration-color: var(--color-ux);
}

.job--ux:hover {
  color: var(--color-ux);
}

.job--gd {
  text-decoration-color: var(--color-gd);
}

.job--gd:hover {
  color: var(--color-gd);
}

.job--ret {
  text-decoration-color: var(--color-ret);
}

.job--ret:hover {
  color: var(--color-ret);
}

/* WORK */
.work-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
  animation: fade-up 2s 1s backwards;
}

.work {
  margin-top: 30px;
}

.work__ux {
  /* position: absolute; */
  grid-column: 1/2;
  grid-row: 1/2;
  transition: all 1s;
}

.work__gd {
  /* position: absolute; */
  grid-column: 1/2;
  grid-row: 1/2;
  /* opacity: 0; */
  transition: all 1s;
}

.work__ret {
  /* position: absolute; */
  grid-column: 1/2;
  grid-row: 1/2;
  /* opacity: 0; */
  transition: all 1s;
}

.work--gone-left {
  translate: -30.5em 0px;
  opacity: 0;
  pointer-events: none;
}

.work--gone-right {
  translate: 30.5em 0px;
  opacity: 0;
  pointer-events: none;
}

/* TOP */
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.second-heading {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

/* GRID */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 25px;
  position: relative;
}

.project {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  transition: all 1s;
}

/* .project:hover {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  width: 950px;
  height: 100vh;
  transition: all 1s;
} */

.project:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}

.project:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}

.project::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
  opacity: var(--default-opacity);
  z-index: 10;
  transition: all 1s;
}

.project:hover::before {
  opacity: var(--hover-opacity);
}

.grid-img {
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  max-width: 1000px;
  object-fit: cover;
  transform: scale(1.08);
  transition: all 1s;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, #000, transparent);
  opacity: 0;
  transition: all 1s;
}

.project:hover .grid-img {
  filter: blur(2px);
  transform: scale(1.01);
}

.project:hover .gradient {
  opacity: 0.75;
}

/* PROJECT INFO */
.project-info {
  opacity: 0;
  position: absolute;
  bottom: 0;
  text-align: left;
  padding: 24px;
  transform: translateY(10px);
  z-index: 100;
  transition: all 1s;
  color: white;
}

.project:hover .project-info {
  opacity: 1;
  transform: translate(0);
}

.third-heading {
  font-size: 16px;
  color: white;
}

.description {
  font-size: 14px;
  margin: 3px 0 12px;
  color: white;
}

.technologies {
  display: flex;
  column-gap: 10px;
}

.technology {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
}

/* ARTICLES */

.article {
  max-width: 950px;
  opacity: 0.94;
  margin: 0 auto;
}

.article li {
  font-weight: 300;
}

.article ul li {
  font-weight: 300;
  list-style: inside;
  margin-bottom: 10px;
}

.article-image {
  margin: 0 auto;
  max-width: 950px;
}

.article-image img {
  max-width: 950px;
}

.article-header-image {
  margin: 0 auto;
  margin-top: 60px;
  aspect-ratio: 4/1;
  max-width: 950px;
  object-fit: cover;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
}

.article-header-image img {
  translate: 0px -30%;
}

.article-footer-image {
  margin: 0 auto;
  margin-bottom: 60px;
  aspect-ratio: 4/1;
  max-width: 950px;
  object-fit: cover;
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
}

.article-footer-image img {
  translate: 0px -50%;
}

.article-section {
  padding: 0 25px;
  padding-top: 25px;
  padding-bottom: 35px;
  background-color: rgba(0, 0, 0, 0.25);
}

.section-color {
  background-color: rgba(25, 25, 25, 0.25);
}

.article-title {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 20px;
}

.section-breaker--small {
  margin-bottom: 25px;
}

.section-breaker--big {
  margin-bottom: 50px;
}

.article-section-title {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}

.article-section-title--alone {
  margin-bottom: 0px;
}

.section-wrapper-2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 25px;
  position: relative;
}

.section-wrapper-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 25px;
  position: relative;
}

.section-wrapper--color {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  padding: 25px;
}

.roles {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 10px;
}

.role {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
}

.article-desc-header-small {
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.8;
  font-weight: 200;
  font-size: small;
}

.article-content {
  font-weight: 300;
}

.flex-column-1 {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.flex-column-2 {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}


/* LINKS */
.links {
  position: fixed;
  right: 62px;
  top: 50%;
  transform: translateY(-50%);
  animation: fade-left 0.5s 0.8s backwards;
}

.link-item {
  transition: all 0.3s;
}

.link-item:not(:last-child) {
  margin-bottom: 20px;
}

.link-item:hover {
  transform: scale(1.15);
}

.link-img {
  width: 20px;
  height: 20px;
}

/* FOOTER */
.footer {
  display: flex;
  position: sticky;
  top: 100%;
  /* bottom: 0px; */
  max-width: 950px;
  margin: 0 auto;
  padding: 20px 0 20px;
  border-top: 1px solid #eeeeee22;
  color: hsla(0, 0%, 100%, 0.25);
  animation: fade-in 3s 2s backwards;

}

.copyright {
  font-size: 12px;
}

.email {
  font-size: 12px;
  margin-left: auto;
}

/* MEDIA QUERIES */
@media (max-width: 1215px) {
  .header {
    padding: 25px;
    position: absolute;
  }

  .links {
    position: absolute;
    transform: initial;
    right: initial;
    top: 32px;
    left: 82px;
    display: flex;
    animation-name: fade-down;
  }

  .link-item:not(:last-child) {
    margin-right: 15px;
  }
}

@media (max-width: 1000px) {
  .intro {
    padding-top: 100px;
  }

  .work {
    margin-top: 35px;
  }

  .main {
    margin-bottom: 35px;
  }

  .filters {
    display: none;
  }

  .footer {
    border: initial;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 1000px;
  }
}

@media (max-width: 620px) {
  .color {
    left: -15%;
  }

  .header {
    padding: 15px;
  }

  .btn--contact {
    font-size: 11px;
    padding: 8px 16px;
  }

  .links {
    top: 22px;
    left: 70px;
  }

  .text {
    font-size: 30px;
  }

  .main {
    padding: 0 15px;
  }

  .footer {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 520px) {
  html {
    --default-opacity: 0.2;
    --hover-opacity: 0.1;
  }

  .text--second {
    display: inline;
  }

  .top {
    margin-bottom: 20px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 250px);
  }

  .grid .project {
    grid-column: initial;
    grid-row: initial;
  }

  .copyright {
    font-size: 11px;
  }

  .email {
    font-size: 11px;
  }
}